<network>
  <name>{{ item.name }}</name>  
  <forward mode='nat'/>
  <bridge name='{{ item.name }}' stp='on' delay='0'/>  
  <ip address='{{ item.address }}' netmask='{{ item.netmask }}'>    
    <dhcp>
      <range start="{{ item.dhcp.start }}" end="{{ item.dhcp.end }}"/>
    </dhcp>  
  </ip>
</network>